{% load static %}
                <div class="col-lg-4">
                    <div class="sidebar-area mt-sm-60 mt-xs-50">
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <h3>featured games</h3>
                            {% for game in games %}
                            <div class="single-featured-game mb-20">
                                <div class="game-img">
                                    <a href="{% url 'games:detail' game.pk %}"><img src="{{ game.poster.url }}" alt=""></a>
                                    <a class="game-title" href="{% url 'games:detail' game.pk %}">{{ game.title }}</a>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                        <!--Single Sidebar Widget End-->
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <h3>follow us</h3>
                            <div class="sidebar-social">
                                <ul>
                                    <li><a class="facebook" href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="icofont-youtube-play"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Sidebar Widget End-->
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <h3>popular/recomended</h3>
                            <div class="popular-game mb-20">
                                <div class="game-img">
                                    <a href="#"><img src="assets/images/banner/sidebar-banner3.jpg" alt=""></a>
                                </div>
                                <div class="game-content">
                                    <h3><a href="#">Splinter cell</a></h3>
                                    <span>pc/xbox/ps4</span>
                                </div>
                            </div>
                            <div class="popular-game mb-20">
                                <div class="game-img">
                                    <a href="#"><img src="assets/images/banner/sidebar-banner4.jpg" alt=""></a>
                                </div>
                                <div class="game-content">
                                    <h3><a href="#">battle field 4</a></h3>
                                    <span>pc/xbox/ps4</span>
                                </div>
                            </div>
                        </div>
                        <!--Single Sidebar Widget End-->
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <h3>recent post</h3>
                            <div class="sidebar-rc-post">
                                {% for blog in blogs %}
                                <ul>
                                    <li>
                                        <div class="rc-post-thumb">
                                            <a href="{% url 'blog:detail' blog.pk %}"><img src="{{ blog.image.url }}" alt=""></a>
                                        </div>
                                        <div class="rc-post-content">
                                            <h3><a href=" {% url 'blog:detail' blog.pk %}">{{ blog.title }}</a></h3>
                                            <div class="widget-date">{{ blog.created_at|date:'d F Y' }}</div>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <!--Single Sidebar Widget End-->
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <div class="sidebar-banner">
                                <a href="#"><img src="assets/images/banner/banner2.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--Single Sidebar Widget End-->
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget">
                            <h3>follow us</h3>
                            <div class="sidebar-instagram">
                                <ul>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram1.jpg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram2.jpg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram3.jpg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram4.jpg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram5.jpg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/instagram/instagram6.jpg' %}" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Sidebar Widget End-->
                    </div>
                </div>