{% load i18n %}
<div class="game-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
     <!--Toolbar Short Area Start-->
     <div class="toolbar-short-area d-md-flex align-items-center">
         <div class="toolbar-shorter">
            <h3>{% trans 'Platform' %}</h3>
             <select onchange="addUrlParameter('platform', this.value)" class="wide">
                 <option data-display="Select">Platform</option>
                 {% for platform in platforms %}
                 <option value="{{ platform.name }}">{{ platform.name }}</option>
                 {% endfor %}
             </select>
         </div>
         <div class="toolbar-shorter">
            <h3>{% trans 'Category' %}</h3>
             <select onchange="addUrlParameter('category', this.value)" class="wide">
                 <option data-display="Select">Category</option>
                 {% for category in categories %}
                 <option value="{{ category.name }}">{{ category.name }}</option>
                 {% endfor %}
             </select>
         </div>
     </div>
     <!--Toolbar Short Area End-->
</div>
