<div class="game-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
     <!--Toolbar Short Area Start-->
     <div class="toolbar-short-area d-md-flex align-items-center">
         <div class="toolbar-shorter">
            <h3>Platform</h3>
             <select class="wide">
                 <option data-display="Select">Platform</option>
                 {% for platform in platforms %}
                 <option value="{{ platform.name }}">{{ platform.name }}</option>
                 {% endfor %}
             </select>
         </div>
         <div class="toolbar-shorter">
            <h3>Category</h3>
             <select class="wide">
                 <option data-display="Select">Category</option>
                 {% for category in categories %}
                 <option value="{{ category.name }}"><a href="{% url 'games:trailer' %}?category={{ category.id }}" >{{category.name}}</a></option>
                 {% endfor %}
             </select>
         </div>
     </div>
     <!--Toolbar Short Area End-->
</div>

<script>
    function addUrlParameter(name, value){
        let searchParameter = new URLSearchParams(window.location.search)
        if(searchParameter.has(name) && searchParameter.get(name) == value){
            searchParameter.delete(name)
        }else {
            searchParameter.set(name, value)
        }

        window.location.search = searchParameter.toString()
    }
</script>