{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <!--Page Banner Area Start-->
    <div class="page-banner-area" style="background-image: url(assets/images/bg/page-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content text-center">
                        <h1>KINGS OF THE <br> WARRIORS</h1>
                        <a class="df-btn" href="#">Buy now</a>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Area End-->
    
    <!--Blog Area Start-->
    <div class="blog-list-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-xs-50">
        <div class="container">
            <div class="row row-25">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <!--Single Blog Post Start-->
                            {% for post in object_list %}
                            <div class="single-blog-post blog-list mb-30">
                                <div class="blog-img">
                                    <a href="{% url 'blog:detail' post.pk %}"><img src="{{ post.image.url }}" alt=""></a>
                                </div>
                                <div class="blog-content">
                                    <h3><a href="{% url 'blog:detail' post.pk %}">{{ post.title|upper|truncatewords:'8' }}</a></h3>
                                    <p></p>{{ post.body|safe|truncatewords:'20' }}
                                    <div class="blog-bottom">
                                        <ul class="meta meta-border-bottom">
                                            <li><a href="{% url 'blog:news' %}?author={{ post.author.username }}">{{ post.author.username }}</a></li> 
                                            <li>{{ post.created_at|date:'d F Y' }} </li>
                                            <li><a href="#">{{ post.comments.values.count }} Comments</a></li>
                                            <li><a href="{% url 'blog:news' %}?category={{ post.category.name }}">{{ post.category.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--Single Blog Post End-->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-pagination text-center">
                                <ul class="page-pagination">
                                    <li><a href="#"><i class="icofont-long-arrow-left"></i></a></li>
                                    {% for page in page_obj.paginator.page_range %}
                                    <li><a class=" {% if page == page_obj.number %}paginat text-primary{% endif %}" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endfor %}
                                    <li><a href="#"><i class="icofont-long-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!--Single Sidebar Widget Start-->
                {% include 'layouts/sidebar.html' %}
                <!--Single Sidebar Widget End-->
            </div>
        </div>
    </div>
    <!--Blog Area End-->
    
    <!--Projects section start-->
    <div class="newslatter-section newslatter-section-tow section pt-5 pt-lg-0 pt-sm-0 pb-xs-50">
        <div class="container">
        <!--News Latter Area Start-->
        {% include 'layouts/message.html' %}
        <!--News Latter Area End-->
        </div>
        
    </div>
    <!--Projects section end-->
    
 
{% endblock %}