{% extends 'layouts/base.html' %}
{% block title %} Checkout {% endblock %}
{% load my_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <!--Page Banner Area Start-->
    <div class="page-banner-area" style="background-image: url(assets/images/bg/page-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content text-center">
                        <h1>KINGS OF THE <br> WARRIORS</h1>
                        <a class="df-btn" href="#">Buy now</a>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Area End-->
    
    <!--Checkout Area Start-->
    <div class="checkout-area section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Checkout Form Start-->
                    <form action="#" class="checkout-form" method="post">
                       <div class="row row-40">
                           <div class="col-lg-7">
                               <!-- Billing Address -->
                               <div id="billing-form" class="mb-10">
                                   <h4 class="checkout-title">Billing Address</h4>
                                   <div class="row">
                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Username</label>
                                           <input type="text" value="{{ user.username }}" placeholder="username">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>card_number</label>
                                           <input type="text" value="{{ user.card.number }}" placeholder="Last Name">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Email Address*</label>
                                           <input type="email" placeholder="Email Address">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Password*</label>
                                           {% csrf_token %}
                                           {{ form|crispy }}
                                               <button class="place-order df-btn" type="submit">Place order</button>
                                       </div>

                                   </div>

                               </div>

                               <!-- Shipping Address -->
                               <div id="shipping-form">
                                   <h4 class="checkout-title">Shipping Address</h4>

                                   <div class="row">
                                       <div class="col-md-6 col-12 mb-20">
                                           <label>First Name*</label>
                                           <input type="text" placeholder="First Name">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Last Name*</label>
                                           <input type="text" placeholder="Last Name">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Email Address*</label>
                                           <input type="email" placeholder="Email Address">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Phone no*</label>
                                           <input type="text" placeholder="Phone number">
                                       </div>

                                       <div class="col-12 mb-20">
                                           <label>Company Name</label>
                                           <input type="text" placeholder="Company Name">
                                       </div>

                                       <div class="col-12 mb-20">
                                           <label>Address*</label>
                                           <input type="text" placeholder="Address line 1">
                                           <input type="text" placeholder="Address line 2">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Country*</label>
                                           <select class="nice-select">
                                                <option>Bangladesh</option>
                                                <option>China</option>
                                                <option>country</option>
                                                <option>India</option>
                                                <option>Japan</option>
                                           </select>
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Town/City*</label>
                                           <input type="text" placeholder="Town/City">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>State*</label>
                                           <input type="text" placeholder="State">
                                       </div>

                                       <div class="col-md-6 col-12 mb-20">
                                           <label>Zip Code*</label>
                                           <input type="text" placeholder="Zip Code">
                                       </div>

                                   </div>

                               </div>

                           </div>

                           <div class="col-lg-5">
                               <div class="row">

                                   <!-- Cart Total -->
                                   <div class="col-12 mb-60">

                                       <h4 class="checkout-title">Cart Total</h4>

                                       <div class="checkout-cart-total">

                                           <h4>Games <span>Total</span></h4>

                                           <ul>
                                               {% get_name request as games %}
                                               {% for game in games %}

                                               <li> {{ game.title }} <span>${{ game.price }}</span></li>
                                               {% endfor %}
                                           </ul>
                                       {% cart_info request as price %}
                                           <h4> Purchases <span>{{ price.0 }}</span></h4>
                                           <h4>Grand Total <span>{{price.1}}$</span></h4>
                                            <h4>balance <span>{{ card.balance }}</span></h4>
                                       </div>

                                   </div>

                                   <!-- Payment Method -->
                                   <div class="col-12">

                                       <h4 class="checkout-title">Payment Method</h4>

                                       <div class="checkout-payment-method">

                                           <div class="single-method">
                                               <input type="radio" id="payment_check" name="payment-method" value="check">
                                               <label for="payment_check">Check Payment</label>
                                               <p data-method="check">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                           </div>

                                           <div class="single-method">
                                               <input type="radio" id="payment_bank" name="payment-method" value="bank">
                                               <label for="payment_bank">Direct Bank Transfer</label>
                                               <p data-method="bank">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                           </div>

                                           <div class="single-method">
                                               <input type="radio" id="payment_cash" name="payment-method" value="cash">
                                               <label for="payment_cash">Cash on Delivery</label>
                                               <p data-method="cash">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                           </div>

                                           <div class="single-method">
                                               <input type="radio" id="payment_paypal" name="payment-method" value="paypal">
                                               <label for="payment_paypal">Paypal</label>
                                               <p data-method="paypal">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                           </div>

                                           <div class="single-method">
                                               <input type="radio" id="payment_payoneer" name="payment-method" value="payoneer">
                                               <label for="payment_payoneer">Payoneer</label>
                                               <p data-method="payoneer">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                           </div>

                                           <div class="single-method">
                                               <input type="checkbox" id="accept_terms">
                                               <label for="accept_terms">I’ve read and accept the terms & conditions</label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </form>
                    <!-- Checkout Form End-->
                </div>
            </div>
        </div>
    </div>
    <!--Checkout Area End-->

{% endblock %}