{% extends 'layouts/base.html' %}
{% load static i18n %}
{% load my_tags %}
{% block content %}

    <!--Page Banner Area Start-->
    {% include 'layouts/banner.html' %}
    <!--Page Banner Area End-->


    <!--Games Details Area Start-->
    <div class="games-details-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-xs-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="game-image-gallery-wrap">
                                <div class="game-image-large">
                                    <div class="game-image img-full">
                                        <img src="{{ object.image_body4.url }}" alt="">
                                    </div>
                                    <div class="game-image img-full">
                                        <img src="{{ object.image_body.url }}" alt="">
                                    </div>
                                    <div class="game-image img-full">
                                        <img src="{{ object.image_body2.url }}" alt="">
                                    </div>
                                    <div class="game-image img-full">
                                        <img src="{{ object.image_body3.url }}" alt="">
                                    </div>
                                </div>
                                <div class="game-image-thumbs">
                                    <div class="sm-image"><img src="{{ object.image_body4.url }}"
                                                               alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{ object.image_body.url }}"
                                                               alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{ object.image_body2.url }}"
                                                               alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{ object.image_body3.url }}"
                                                               alt="product image thumb"></div>
                                </div>
                                <div class="game-description mb-45">
                                    <h3>{{ object.title }}</h3>
                                    <p>{{ object.body|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="timelaine-wrapper mb-30">
                                <div class="single-timeline pb-30">
                                    <h4>{% trans 'compitable for' %}</h4>
                                    {% for platform in object.platform.values %}
                                        <span>{{ platform.name }}/</span>
                                    {% endfor %}
                                </div>
                                <div class="single-timeline pb-30">
                                    <h4>{% trans 'PRICE AND DOWNLOAD' %}</h4>
                                    <span class="game-price">{{ object.price }}$</span>
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.games.all != object %}
                                                <a href="{% url 'games:add' object.pk %}?next={{ request.path }}"
                                                class="add-cart">
                                                {% if object|is_cart:request %}
                                                    - {% trans 'Remove from Cart' %}
                                                {% else %}
                                                    + {% trans 'Add to Cart' %}
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            <h1>{% trans 'you already bought this game' %}</h1>
                                        {% endif %}
                                {% else %}
                                    <a href="{% url 'users:register' %}">register</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="ratting-wrap mb-40">
                                <h3>{% trans 'ratings' %}</h3>
                                <div class="rating-area">
                                    <div class="total-rating">
                                        <h2>{{ object.average_rating | floatformat:2}}</h2>
                                        <span>({{ object.average_rating | floatformat:2 }} out of 5)</span>
                                    </div>
                                    <div class="rating-review">
                                        <div class="single-rating">
                                            <div class="rating-star">
                                                <span>5</span>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-progress">
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                                         style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                         aria-valuemax="100" data-wow-duration="1.5s"
                                                         data-wow-delay="1.2s"></div>
                                                </div>
                                            </div>
                                            <div class="rating-count">
                                                <span>980</span>
                                            </div>
                                        </div>
                                        <div class="single-rating">
                                            <div class="rating-star">
                                                <span>4</span>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-progress">
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                                         style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                                         aria-valuemax="100" data-wow-duration="1.5s"
                                                         data-wow-delay="1.2s"></div>
                                                </div>
                                            </div>
                                            <div class="rating-count">
                                                <span>280</span>
                                            </div>
                                        </div>
                                        <div class="single-rating">
                                            <div class="rating-star">
                                                <span>3</span>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-progress">
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100" data-wow-duration="1.5s"
                                                         data-wow-delay="1.2s"></div>
                                                </div>
                                            </div>
                                            <div class="rating-count">
                                                <span>89</span>
                                            </div>
                                        </div>
                                        <div class="single-rating">
                                            <div class="rating-star">
                                                <span>2</span>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-progress">
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                                         style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                                                         aria-valuemax="100" data-wow-duration="1.5s"
                                                         data-wow-delay="1.2s"></div>
                                                </div>
                                            </div>
                                            <div class="rating-count">
                                                <span>25</span>
                                            </div>
                                        </div>
                                        <div class="single-rating">
                                            <div class="rating-star">
                                                <span>1</span>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-progress">
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                                         style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                                                         aria-valuemax="100" data-wow-duration="1.5s"
                                                         data-wow-delay="1.2s"></div>
                                                </div>
                                            </div>
                                            <div class="rating-count">
                                                <span>25</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="review-wrap">
                                <h3> RATINGS [{{ all_ratings.count }}]</h3>
                                <!--Single Review Start-->
                                {% for com in all_ratings %}
                                    <div class="single-review mb-30">
                                        <h4>{{ com.subject }}</h4>
                                        <div class="ratting">
                                            {% if com.rating == 0.5 %}
                                                {#                                    <i class="fa fa-star"></i>#}
                                                {#                                    <i class="fa fa-star"></i>#}
                                                {#                                    <i class="fa fa-star"></i>#}
                                                {#                                    <i class="fa fa-star"></i>#}
                                                <i class="fa fa-star-half-o"></i>
                                            {% elif com.rating == 1.0 %}
                                                <i class="fa fa-star"></i>
                                            {% elif com.rating == 1.5 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            {% elif com.rating == 2 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            {% elif com.rating == 2.5 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            {% elif com.rating == 3.0 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            {% elif com.rating == 3.5 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                {% elif com.rating == 4.0 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                {% elif com.rating == 4.5 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                {% elif com.rating == 5.0 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            {% endif %}

                                        </div>
                                        <p>{{ com.comment }}</p>
                                        <div class="review-name-action">
                                            <p><strong>{{ com.user.username }}</strong></p>
                                            {% if request.user.is_authenticated %}
                                            <form action="{% url 'games:like_dislike' com.pk %}" method="post">
                                                {% csrf_token %}
                                                <ul>
                                                    <li><button name="send" value="like"> <i class="fa fa-thumbs-o-up"></i></button>{{ com.like.count }}</li>
                                                    <li><button name="send" value="dislike"> <i class="fa fa-thumbs-o-down"></i></button>{{ com.dislike.count }}</li>
                                                </ul>
                                            </form>
                                            {% else %}
                                            <ul>
                                                    <li> <i class="fa fa-thumbs-o-up"></i>{{ com.like.count }}</li>
                                                    <li> <i class="fa fa-thumbs-o-down"></i>{{ com.dislike.count }}</li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <!--Single Review End-->
                                <!--Single Review Start-->
                                <!--Single Review End-->
                                <div class="reply-btn">
                                    <a href="#">view more <i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if request.user.is_authenticated %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5>{% trans "Write Your Rewiew" %}</h5>
                        <div>
                            <label>{% trans 'how do you game?' %}</label>
                            <br>

                            <!-- Rating stars -->
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required/><label
                                    for="rating10" title="5"></label>
                                <input type="radio" name="rating" id="rating9" value="4.5" required/><label
                                    for="rating9" title="4.5" class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required/><label for="rating8"
                                                                                                          title="4"></label>
                                <input type="radio" name="rating" id="rating7" value="3.5" required/><label
                                    for="rating7" title="3.5" class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6"
                                                                                                          title="3"></label>
                                <input type="radio" name="rating" id="rating5" value="2.5" required/><label
                                    for="rating5" title="2.5" class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required/><label for="rating4"
                                                                                                          title="2"></label>
                                <input type="radio" name="rating" id="rating3" value="1.5" required/><label
                                    for="rating3" title="1.5" class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required/><label for="rating2"
                                                                                                          title="1"></label>
                                <input type="radio" name="rating" id="rating1" value="0.5" required/><label
                                    for="rating1" title="0.5" class="half"></label>

                            </div>
                            {% trans 'subject:' %}
                            <input type="text" class="form-control" name="subject">
                            <br>
                            {% trans 'review:' %}:
                            <textarea name="comment" class="form-control"></textarea>
                            <br>
                            <button class="df-btn" type="submit">{% trans 'ADD RATING ' %}</button>
                        </div>
                    </form>
                {% else %}
                    <a href="{% url 'users:register' %}">{% trans 'Please sign up before you add rating' %}</a>
                {% endif %}
                    {% include 'layouts/paginator.html' %}
                </div>
                <!--Single Sidebar Widget Start-->
                {% include 'layouts/sidebar.html' %}
                <!--Single Sidebar Widget End-->
            </div>
        </div>
        <!--Games Details Area End-->

        <!--Projects section start-->
        <div class="newslatter-section newslatter-section-tow section pt-5 pt-lg-0 pt-sm-0 pb-xs-50">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <!--News Latter Area Start-->
                        <div class="news-latter-area newslatter-black">
                            <div class="news-latter-box">
                                <h3>SUBSCRIBE OUR NEWSLETTER, GET ALL <br> LATEST NEWS, UPDATE, VIDEOS AND OFFERS </h3>
                                <form action="#">
                                    <input type="text" placeholder="Enter your email here">
                                </form>
                            </div>
                        </div>
                        <!--News Latter Area End-->
                    </div>
                </div>

            </div>

        </div>
        <!--Projects section end-->
{% endblock %}