{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} PROFILE GAME {% endblock %}
{% block content %}

    <div class="row">
        {% for game in user.games.values %}
            <div class="col-lg-4 col-md-6">
                <div class="single-game mb-50">
                    <div class="game-img">
                        <a href="{% url 'games:detail' game.id %}"><img src="{{ game.image_body3.url }}" alt=""></a>
                    </div>
                    <div class="game-content">
                        <h4><a href="{% url 'games:detail' game.id %}">{{ game.title }}</a></h4>
                        {% for platform in game.platform.name %}
                            <span>{{ platform }}/</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--Single Game End-->


{% endblock %}
