{% extends 'layouts/base.html' %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <!--Page Banner Area Start-->
    {% include 'layouts/banner.html' %}
    <!--Page Banner Area End-->
    
     <!--Login Section Start-->
    <div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">
            <div class="row">

                <!-- Login -->
                <div class="col-md-6 col-12 d-flex">
                    <div class="gilbard-login">

                        <h3>{% trans "We will need for your registration" %}</h3>
                        <p>{% trans "Go to the system to buy games, add comment add comments to a post" %}</p>

                        <!-- Login Form -->
                        <form action="{% url 'users:register' %}" method="post">
                            <div class="row">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="col-12"><input type="submit" value="register"></div>
                            </div>
                        </form>
                        <h4>Have an account? please click <a href="{% url 'users:login' %}">{% trans 'Login' %}</a></h4>
                    </div>
                </div>

                <div class="col-md-1 col-12 d-flex">

                    <div class="login-reg-vertical-boder"></div>

                </div>

                <!-- Login With Social -->
                <div class="col-md-5 col-12 d-flex">

                    <div class="gilbard-social-login">
                        <h3>{% trans 'Also you can login with...' %}</h3>
                        <a href="#" class="facebook-login">Login with <i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter-login">Login with <i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus-login">Login with <i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--Login Section End-->


{% endblock %}