{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} VIDEOS {% endblock %}
{% block content %}
    
    <!--Page Banner Area Start-->
    <div class="page-banner-area" style="background-image: url(assets/images/bg/page-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content text-center">
                        <h1>KINGS OF THE <br> WARRIORS</h1>
                        <a class="df-btn" href="#">Buy now</a>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Video</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Area End-->
    
    <!--Video Area Start-->
    <div class="video-area section pt-85 pt-lg-65 pt-md-55 pt-sm-55 pt-xs-45">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="game-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                    <!--Game Toolbar Start-->
                    <div class="game-search-box">
                        <h3>search games</h3>
                        <form action="{% url 'games:trailer' %}", method="GET"> 
                        <input type="text" name="game_search" placeholder="Enter games name">
                        <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </div>
                </div>
                    <!--Toolbar Short Area Start-->
                    {% include 'layouts/toolbar.html' %}
                    <!--Game Toolbar End-->
                </div>
            </div>
            <div class="row">
                {% for game in games %}
                <div class="col-md-6">
                    <!--Single Video Popup Start-->
                    <div class="single-video-popup mb-30">
                        <div class="video-img">
                            <img src="{{ game.image_body4.url }}" alt="">
                            <a class="video-popup video-btn" href="{{game.video}}"><i class="icofont-play-alt-2"></i></a>
                            <div class="video-content">
                                <h3>{{game.title}}</h3>
                                <span>8.45</span>
                            </div>
                        </div>
                    </div>
                    <!--Single Video Popup End-->
                </div>
                {% endfor %}
            </div>
            {% include 'layouts/paginator.html' %}
        </div>
    </div>
    <!--Video Area End-->
    
{% endblock %}

{% block extra_js %}

{% endblock %}